ul {
  display: inline;
}
li {
  text-decoration: none;
  flex-wrap: wrap;
  float: left;
  list-style-type: none;
}
.footer {

  align-items: center;
}
.footer > ul {
  background-color: #000000;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 50px;
  padding-top: 25px;
  width: 100%;
}
li a:link {
  text-decoration: none;
}
