.logo {
}
h1 {
  font-family: Calibri Light, sans-serif;
  color: yellow;
  padding-bottom: 0;
  margin-bottom: 0;
}
h6 {
  padding-top: 0;
  margin-top: 0;
}
.different {
  color: white;
}
ul {
  float: right;
}
ul li {
  padding: 10px;
  color: yellow;
}
.nav {
  display: flex;
  padding: 0 40px;
  margin: 0;
  column-count: 2;
  column-gap: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
